<li id="comment-<%= comment.id %>">
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){%>
        <small>
            <a href="/comment/destroy/<%= comment.id %>">X</a>
        </small>
        <%}%>
        <% if (locals.user && locals.user.id == i.user.id){%>
            <small>
                <a href="/comment/destroy/<%= comment.id %>">X</a>
            </small>
        <%}%>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>