<link rel="stylesheet" href="<%=assetPath('css/user_profile.css')%>">
<div id="container">
    <div id="user-container">

        <h1>User Profile</h1>
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">



        <% if(user.id==profile_user.id){ %>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST" id="user-form">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required><br>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required><br>

                <input type="file" name="avatar" placeholder="Profile Picture"><br>
                <input type="submit" value="Update">
            </form>

            <%}else{%>
                <!-- else show only the profile info -->
                <p>
                    <%= profile_user.name %>
                </p>
                <p>
                    <%= profile_user.email %>
                </p>

                <small>
                    <a href="/friendship/create/?to=<%=profile_user.id%>" class="toggle-friendship-btn">add</a>
                </small>
                <%} %>
    </div>

</div>

<script src="<%=assetPath('js/toggle_friendship.js')%>">
</script>
<script>
    $('.toggle-friendship-btn').each(function () {
        let self = this;
        console.log(self);
        let toggleFriendship = new ToggleFriendship(self);
    });
</script>